
<style>
    .logo-box {
        height: 200px;
    }

    div.middle-div {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .top-buffer {
        margin-top: 25px;
    }

    .bottom-buffer {
        margin-bottom: 35px;
    }

</style>

<div class="row border-bottom white-bg">
    <div class="col-sm-12">
        <h1>We gratefully acknowledge support from the following organizations:</h1>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 top-buffer"></div>

    <!--<div style="margin-left: 20px; margin-bottom: 20px;">-->
        <!--<h1>We gratefully acknowledge support from the following organizations:</h1>-->
    <!--</div>-->





    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/uofs.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content" >
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/skminag.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/growingforward.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/pulse.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/skcanola.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="logo-box">
                    <div class='middle-div'>
                        <img class="img-responsive" src="../../assets/img/partner_logos/agbio.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 bottom-buffer"></div>
</div>