
<body class="gray-bg">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" style="margin-top: 15px;">
            <div class="ibox-title">
                <h5>Guides</h5>
            </div>
            <div class="ibox-content"><h3><a href="../../files/quickstart.pdf">Quickstart Guide</a> </h3>
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Map guide</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <h2>Toolbox</h2>
                                    <h3>Basemap</h3>
                                    <p>The basemap dropdown allows the selection of the source of the underlying imagery on the map. Only one basemap can be active at a time. </p>
                                    <p>Four basemap options are available. They are the Default, Satellite, Hybrid, or Dark.</p>
                                    <h5>Default</h5>
                                    <p>The Default basemap contains political boundaries and features, as well as basic geographic features such as lakes, rivers, and wetlands.</p>
                                    <h5>Satellite</h5>
                                    <p>The Satellite basemap is a pure satellite layer with no political features.</p>
                                    <h5>Hybrid</h5>
                                    <p>The Hybrid basemap contains political features like cities and roads on top of a satellite imagery layer</p>
                                    <h5>Dark</h5>
                                    <p>The Dark basemap is a non-satellite imagery layer with very dark styling.
                                        This layer can provide better contrast with the lightly coloured soil polygons, particularly when a query result contains a small number of soil polygons. </p>

                                    <h3>Theme</h3>
                                    <p>The theme dropdown changes the styling of the soil polygons based on predefined categories. </p>
                                    <p>Five themes are available. They are map unit, agricultural capability, texture, salinity, and electrical conductivity (pH). </p>

                                    <h3>Toggles and Opacity</h3>
                                    <p>Both the soil polygons and the Canadian Treaty boundaries can be toggled using the switches. Soil polygon opacity can be adjusted using the slider.
                                    Adjusting the opacity of the polygons can allow inspection of the soil boundaries with geographic context provided by the also visible basemap.</p>

                                    <h3>Point Datatypes</h3>
                                    <p>A variety of point datatypes are stored by SKSIS. They are photos, soil pits, publications, and observations. By checking the associated box,
                                    map indicators of the presence of each point datatpye will be togged on or off. </p>

                                    <h2>Querybox</h2>
                                    <h3>Filtering</h3>
                                    <p>The filtering tools allow the selection and display of polygons that meet certain criteria specified with the dropdown menus. SKSIS allows querying
                                    on dominant slope class, dominant slope length, salinity class, irrigation potential, surface texture, secondary texture, pH, past erosion class, stoniness class, and map unit.</p>

                                    <h3>Searching</h3>
                                    <p>The search tools allow one to move the map to certain geographic locations without scrolling. Currently, you can search by legal land description or latitude and longitude.</p>

                                    <h2>Soil Info Box</h2>
                                    <p>The soil infobox provides on the fly information such as the latitude and longitude of a click on the map, the latitude and logitude of the mouse on the map, and the
                                    current scale of the map.</p>
                                    <p>Upon clicking on a polygon, the soil info box will display information related to that polygon and its components.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Data collection guide</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h2>Adding your data to the map</h2>
                                    <p>You can upload your own soil data to SKSIS. We accept photos of soils and landscapes, georeferenced publications, soil pit descriptions, and observations. </p>
                                    <p>Observations are simple, short descriptions of an interesting landscape or soil property at a particular location.</p>
                                    <p>The steps below give an example of uploading a photo.</p>
                                    <ol>
                                        <li>Select the "Add Data" menu option</li>
                                        <li>Select "Photo" from the Datatype menu</li>
                                        <li>Enter the latitude and longitude of the photo</li>
                                        <li>Add a description of the contents of the photo to the Description field</li>
                                        <li>Click "Select file" and find the image on your computer</li>
                                        <li>Click "Upload"</li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">User registration guide</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Under construction
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
