
<div class="row">
    <div class="col-lg-5">
        <div class="ibox float-e-margins" style="margin-top: 15px;">
            <div class="ibox-title">
                <h5>User Profile</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <p></p>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input placeholder="Name"
                                   class="form-control"
                                   readonly
                                   value="{{profile.name}}">
                            <!--<span class="help-block m-b-none"></span>-->
                        </div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email"
                                   placeholder="Email"
                                   class="form-control"
                                   readonly
                                   value="{{profile.email}}">
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--<div class="col-lg-7">-->
        <!--<div class="ibox float-e-margins">-->
            <!--<div class="ibox-title">-->
                <!--<h5>Contributions</h5>-->
            <!--</div>-->
            <!--<div class="ibox-content">-->
                <!--<div class="table-responsive">-->
                    <!--<table class="table table-bordered">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Upload Date</th>-->
                            <!--<th>Description</th>-->
                            <!--<th>Datatype</th>-->
                            <!--<th>Coordinats</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let value of contributions">-->
                            <!--<td>{{ value.date_upload }}</td>-->
                            <!--<td>{{ value.description }}-->
                            <!--<td>{{ value.datatype }}</td>-->
                            <!--<td class="center"> {{ value.text_geom }}</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>