
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contact</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-4">
        <div class="contact-box">
            <div class="col-sm-8">
                <h3><strong>Support Requests</strong></h3>
                <a href="mailto:sksis_support@usask.ca"><strong>sksis_support</strong>@usask.ca</a>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="contact-box">
            <div class="col-sm-8">
                <h3><strong>User Agreement</strong></h3>
                <a href="../../files/SKSIS_User_Agreement.pdf"><strong>Open</strong></a>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="contact-box">
            <div class="col-sm-8">

                <h3><strong>User Evaluation Form</strong></h3>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWIJq4ItGoLzZOOEF_dxnDCdJ7tQzVEEIpZuSWc6xh69JYTg/viewform?usp=sf_link"><strong>Open</strong></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--<div class="col-lg-4">-->
        <!--<div class="contact-box">-->
            <!--<a href="profile.html">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="text-center">-->

                        <!--<div class="m-t-xs font-bold">CEO</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-8">-->
                    <!--<h3><strong>Alex Johnatan</strong></h3>-->
                    <!--<p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>-->
                    <!--<address>-->
                        <!--<strong>Twitter, Inc.</strong><br>-->
                        <!--795 Folsom Ave, Suite 600<br>-->
                        <!--San Francisco, CA 94107<br>-->
                        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                    <!--</address>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-4">-->
        <!--<div class="contact-box">-->
            <!--<a href="profile.html">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="text-center">-->

                        <!--<div class="m-t-xs font-bold">Marketing manager</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-8">-->
                    <!--<h3><strong>Monica Smith</strong></h3>-->
                    <!--<p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>-->
                    <!--<address>-->
                        <!--<strong>Twitter, Inc.</strong><br>-->
                        <!--795 Folsom Ave, Suite 600<br>-->
                        <!--San Francisco, CA 94107<br>-->
                        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                    <!--</address>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

</div>
</div>
